<div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" id="task">
              <h1 id="title">{{title}}</h1>

            <div class="input-group" >
                <input id="inputTask" placeHolder="Add new task..." (keyup.enter)="addHero(heroText)" [(ngModel)]="heroText" class="form-control" required/>
                <span class="input-group-addon">
                 <button (click)="addHero(heroText)"  class="btn btn-md  btn-primary"> <span  class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                  <button (click)="reset()" class="btn btn-md btn-primary">clear</button>
                 
                </span>
            </div>
            
            <div *ngIf="errMsg">
                   <p id="errMessage"><strong>Sorry ! </strong>{{errMsg}}
                      <span id="errButton">
                           <button class="btn btn-default btn-xs" (click)="dismiss()" >Dismiss</button>
                           <button class="btn btn-info btn-xs" (click)="addAnyWay(heroText)" >Add anyway</button>
                      </span>
                   </p>
                   
            </div>
           
             
              <div *ngIf="Heroes">
                 <h4  id="ttcTitle" >Task-to-do  <span class="badge "  style="background-color:rgb(51, 102, 153)">{{totalTaskToComplete}}</span></h4><hr />
                     <ul class="list-group">
                        
                         <li  *ngFor="let hero of Heroes" class="list-group-item taskToComplete"> 
                             <span class="dateTime">{{hero.timeStamp |date}} {{hero.timeStamp| date:'jm'}}</span> 
                           
                            <span class="list-group-addon ctrlButtons " >
                                <button (click)="markAsComplete(hero)" class="btn btn-xs btn-success">completed</button>
                                <button (click)="editHero(hero)" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                                <button (click)="deleteHero(hero)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                            </span><br />
                            {{hero.name}}
                         </li>  
                     </ul>
              </div>  
              
             


             

              <div *ngIf="dHero">
                <h4 style="color:rgb(0, 153, 153)">Completed-task  <span class="badge"  style="background-color:rgb(0, 153, 153)">{{completedTask}}</span></h4><hr/>
                <ul class="list-group">
                  <li  *ngFor="let hero of dHero" class="list-group-item colmpletedTask"> 
                     <span class="dateTime">Completed on:{{hero.timeStamp |date}} {{hero.timeStamp| date:'jm'}}</span>
                   
                     <span class="list-group-addon" style="float:right">
                       <button (click)="deleteDHero(hero)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                     </span><br />
                      {{hero.name}}
                   
                  </li>
                </ul>
              </div>
                
      </div>       

    </div>

</div>